body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F5F7DC !important;
}

a {
  color: #00B7FF;
}

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
}

.backColor {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #FCFFF5;
}
#stacked-bar-chart {
    width: 100%;
}
#timeline-chart {
    width: 100%;
}
/*
.ui-draggable{
    z-index: 10000!important
}
.ui-draggable-dragging {
    z-index: 10000!important
}*/
.panel-heading {
    cursor: move;
}